<div class="container p-5">
<div class="row align-items-center justify-content-between">
  <h1 class="col-sm-md-lg"><%= link_to "Cocktails", cocktails_path%></h1>
  <h1 class="col-sm-md-lg"> <%= link_to "New cocktail", new_cocktail_path%></h1>
</div>
</div>
<div class="container">
<%= simple_form_for @cocktail do |f| %>
  <%= f.input :name %>
  <%= f.input :photo, as: :file %>
  <%= f.button :submit %>
<% end %>
</div>

<div class="container d-flex btn">
<%= link_to "Back", cocktails_path %>
</div>
